body {
    background-color: darkslategrey;
}

/*Dando tamanios*/
#apartment-plan {
    background-color: gray;
    width: 2000px;
    height: 900px;
}

#first-part{
    height: 60%;
}

#north-rooms{
    height: 50%;
}

#passageway{
    height: 50%;
}

#second-part{
    height: 40%;
}

/*Diferenciando salas*/
#living-room {
    background-color: dimgrey;
    padding: 0;
}

.bedroom {
    background-color: darkolivegreen;
}

.bathroom {
    background-color: deepskyblue;
}

#passageway {
    background-color: darkslateblue;
}

/*Puertas*/
.door{
    width: 40%;
    background-color: #5d4037;
    transform-origin: bottom left;
    transition: transform 1s ease-in-out;
}