body {
    background-color: darkslategrey;
}

/*Dando tamanios*/
#apartment-plan {
    background-color: gray;
    width: 2000px;
    height: 900px;
}

#first-part{
    height: 60%;
}

#north-rooms{
    height: 50%;
}

#passageway{
    height: 50%;
}

#second-part{
    height: 40%;
}

/*Diferenciando salas*/
#living-room {
    background-color: dimgrey;
}

.bedroom {
    background-color: darkolivegreen;
}

.bathroom {
    background-color: deepskyblue;
}

#passageway {
    background-color: darkslateblue;
}

/*Puertas*/
#living-room{
    border-top: solid 10px black;
}